
body{
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-size: 1em;
    /* Usar ou PX (Absoluta) ou EM (Relativa) para fonte*/
    /*16px = 1em */
    font-weight: normal;
    /*lighter(100), normal(400), bold, bolder */
    font-style: italic;
    text-decoration: underline;

}
h1{
    font: italic bolder 2em sans-serif;
    /* shorthand font    
    - font-style, font-weight, font-size, font-family*/
}
h2{
    font: bold 2em 'Work Sans';
}
